{% extends 'base.html.twig' %}

{% block title %}Hello PlayerController!{% endblock %}

{% block body %}
    <head>
        <meta charset="utf-8">
        <title>Video.js Resolution Switcher</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://kmoskwiak.github.io/videojs-resolution-switcher/node_modules/video.js/dist/video-js.min.css" rel="stylesheet">
        <link href="https://kmoskwiak.github.io/videojs-resolution-switcher/node_modules/videojs-resolution-switcher/lib/videojs-resolution-switcher.css" rel="stylesheet">

    </head>


<style>
    body {
        background-color: black;

    }
    video{
        height:90%;
        width : 90%;
    }

</style>

<center><video id='video' class="video-js vjs-default-skin"></video></center>


<script src="https://kmoskwiak.github.io/videojs-resolution-switcher/node_modules/video.js/dist/video.js"></script>
<script>
    videojs.options.flash.swf = "../node_modules/video.js/dist/video-js.swf"
</script>
<script src="https://kmoskwiak.github.io/videojs-resolution-switcher/node_modules/videojs-resolution-switcher/lib/videojs-resolution-switcher.js"></script>
<script>


    // fire up the plugin
    videojs('video', {
        controls: true,
        muted: true,
        width: 1000,
        plugins: {
            videoJsResolutionSwitcher: {
                ui: true,
                default: "high", // Default resolution [{Number}, 'low', 'high'],
                dynamicLabel: true // Display dynamic labels or gear symbol
            }
        }
    }, function(){
        var player = this;
        window.player = player

        player.updateSrc([
            {
                src: "http://127.0.0.1:8000/uploads/videos/{{ video.video }}",
                type: 'video/mp4',
                label: '360p',
                res: 360
            },
            {
                src: "http://127.0.0.1:8000/uploads/videos/{{ video.video }}",
                type: 'video/mp4',
                label: '720p',
                res: 720
            }
        ])

        player.on('resolutionchange', function(){
            console.info('Source changed to %s', player.src())
        })
        {% if next %}
        player.on('ended', function() {

            window.location.href ="/player/video/{{ next[0].upload.token}}"

        });
        {% endif %}



    })
</script>





{% endblock %}

