{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <link href="{{ asset('assets/css/login.css') }}" rel="stylesheet">

    <div class="wrapper">
        <div class="header">
            <!-- mettre le logo du site -->

        </div>

        <div class="login">
            <form class="signin-form" method="post">
                <h1 class="title">Sign In</h1>

                <div class="field">
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="text-input" autocomplete="email" required autofocus>
                    <span class="floating-label">Email address or phone number</span>
                </div>

                <div class="field">
                    <input type="password" name="password" id="inputPassword"  class="text-input" autocomplete="current-password" required>
                    <span class="floating-label test">Password</span>
                </div>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >


                <button  class="signin-btn" type="submit">
                    Sign in
                </button>

                <div class="action-group">
                    <label for="remember-me">
                        <input type="checkbox" class="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
                <div class="action-group">
                    <a href="/forgot/password">mot de passe oublié</a>
                    <a href="/register">Pas encore de compte?</a>

                </div>





            </form>
        </div>


    </div>


{% endblock %}






