{% extends 'base.html.twig' %}

{% block title %}Hello ResetPasswordController!{% endblock %}

{% block body %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>



        <div class="card login-form">
            <div class="card-body">
                <!-- change le titre pour mettre en francais si tu veux -->
                <h3 class="card-title text-center">Change password</h3>


                <div class="card-text">
                    <form action="" method="post">
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>Holy guacamole!</strong> You should check in on some of those fields below.
                            <a class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </a>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Your new password</label>
                            <input type="password" name="password" id="password" class="form-control form-control-sm">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Repeat password</label>
                            <input type="password" class="form-control form-control-sm">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block submit-btn">Confirm</button>
                    </form>
                </div>
            </div>
        </div>

    <style>
        html,body { height: 100%; }
        label{
            color:white;
        }

        body{
            display: -ms-flexbox;
            display: -webkit-box;
            display: flex;
            -ms-flex-align: center;
            -ms-flex-pack: center;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            background-color: cadetblue;
        }

        form{
            padding-top: 10px;
            font-size: 13px;
            margin-top: 30px;

        }

        .card-title{ font-weight:300;color:white; font-family: "Roboto", sans-serif}

        .btn{
            font-size: 13px;
        }

        .login-form{
            width:320px;
            margin:20px;
            background-color : #1e293b;
        }

        .sign-up{
            text-align:center;
            padding:20px 0 0;
        }

        span{
            font-size:14px;
        }

        .submit-btn{
            margin-top:20px;
        }
    </style>

{% endblock %}
