{% extends 'base.html.twig' %}

{% block title %}Hello ResetPasswordController!{% endblock %}

{% block body %}

    <form action="" method="post">
        <label for="password">entrez un nouveau mot de passe</label>
        <input name="password" id="password" type="password" placeholder="entrer un nouveau mot de passe">
    </form>

{% endblock %}
