{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}



    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Netflix - Watch TV Shows Online, Watch Movies Online</title>
        <link href="{{ asset('assets/css/home.css') }}" rel="stylesheet">
        <link rel="icon" href="https://assets.nflxext.com/us/ffe/siteui/common/icons/nficon2016.ico">

    </head>



    <body>

    <header class="showcase">
        <div class="showcase-top">
            <img src="logo.png" alt="Netflix Logo">
            <a href="/login" class="btn btn-rounded">Sign In</a>
        </div>
        <div class="showcase-content">
            <h1>Unlimited movies, TV shows and more.</h1>
            <p>Ready to watch? Enter your email to create or restart your membership.</p>
            <input type="email" name="email" id="mail" placeholder="Email address">
            <a href="/register" class="btn btn-lg">GET STARTED ></a>
        </div>
    </header>



    <footer class="footer">
        <p>Questions? Call 000-800-040-1843</p>
        <div class="footer-cols">
            <ul>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Investor Relations</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Speed Test</a></li>
            </ul>
            <ul>
                <li><a href="#">Help Centre</a></li>
                <li><a href="#">Jobs</a></li>
                <li><a href="#">Cookie Preferences</a></li>
                <li><a href="#">Watch for Free</a></li>
            </ul>
            <ul>
                <li><a href="#">Account</a></li>
                <li><a href="#">Ways to Watch</a></li>
                <li><a href="#">Corporate Information</a></li>
                <li><a href="#">Legal Notices</a></li>
            </ul>
            <ul>
                <li><a href="#">Media Centre</a></li>
                <li><a href="#">Terms of Use</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Netflix Originals</a></li>
            </ul>
        </div>
    </footer>
    </body>

{% endblock %}
