.field input:focus ~ .floating-label, .field input:not(:focus):valid ~ .floating-label {
    top: 8px;
    bottom: 10px;
    left: 20px;
    font-size: 11px;
    opacity: 1;
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
body {
    margin: 0;
    width: 100%;
    min-height: 1050px;
    position: relative;
    /*
       changer l'image de fond
     */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), linear-gradient(to top, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 0.5)), url(https://i.postimg.cc/NjHjKtG4/US-en-20190128-popsignuptwoweeks-perspective-alpha-website-large.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
a {
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
}
.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header {
    width: 100%;
    padding: 20px 40px;
}
.header svg {
    width: 160px;
}
.login {
    width: 425px;
    height: 650px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}
.login .signin-form {
    margin-top: 30px;
    width: 70%;
    position: relative;
    height: 100%;
}
.login .signin-form .title {
    color: white;
}
.login .signin-form .signin-btn {
    margin-top: 30px;
    width: 100%;
    padding: 13px 0;
    border-radius: 5px;
    border: none;
    background: #db202c;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}
.login .signin-form .action-group {
    margin-top: 8px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #989897;
    font-size: 13px;
}
.login .signin-form .action-group input {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    padding: 10px;
}
.login .signin-form .onboarding {
    bottom: 0;
    margin-bottom: 50px;
    position: absolute;
    color: #989897;
}
.login .signin-form .onboarding div {
    display: flex;
    align-items: center;
}
.login .signin-form .onboarding div .icon {
    display: flex;
}
.login .signin-form .onboarding div .icon svg {
    width: 20px;
    height: 20px;
}
.login .signin-form .onboarding div small {
    padding-left: 5px;
}
.login .signin-form .onboarding p {
    margin: 10px 0 0 0;
    display: block;
}
.login .signin-form .onboarding a {
    color: white;
}
.field {
    position: relative;
}
.field input {
    background: #333;
    color: white;
    font-size: 14px;
    width: 100%;
    height: 45px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    padding: 15px 0 0 20px;
    outline: none;
}
.field input.invalid {
    border-bottom: 2px solid orangered;
}
.floating-label {
    position: absolute;
    pointer-events: none;
    left: 20px;
    top: 18px;
    transition: 0.2s ease all;
    color: #989897;
}
.error-message {
    color: orangered;
    margin: 0;
    font-size: 13px;
    width: 100%;
}
.footer {
    position: absolute;
    bottom: 0;
    height: 220px;
    width: 100%;
    flex-shrink: 0;
    background: rgba(0, 0, 0, 0.84);
    padding: 20px 30px;
    color: #989897;
}
.footer .terms {
    margin-top: 30px;
}
.footer .terms a {
    font-size: 12px;
    padding-right: 100px;
}
.footer select {
    margin-top: 30px;
    height: 40px;
    background: black;
    border: 1px solid red;
    color: #989897;
    outline: none;
    border-radius: 5px;
    padding: 10px 20px;
}
