{% block content %}
    <link href="{{ asset('assets/css/inscription.css') }}" rel="stylesheet">

    <div class="wrapper">
        <div class="header">
            <!-- le logo du site -->
        </div>

        <div class="login">
            <form class="signin-form" method="post">
                <h1 class="title">Sign Up</h1>

                <div class="field">
                    <input type="text" class="text-input" name="email" required />
                    <span class="floating-label">Email address or phone number</span>
                </div>

                <div class="field">
                    <input type="password" class="text-input" name="password" required />
                    <span class="floating-label test">Password</span>
                </div>

                <button class="signin-btn">Sign Up</button>

            </form>
        </div>


    </div>

    {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>
    {% endif %}

{% endblock %}